<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>TV Shorcuts</title>
        <meta name="TV Shows Shortcut pro EDNU (kdyz se vam nechce chodit na jednotlive stranky na edne a chcete to mit pekne pohromade)" content="TV Shows (:">
        <meta name="(:" content="(:">

        <!--<script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>-->

        <link rel="Shortcut icon" href="" type="image/x-icon" />
        <!--<link rel="apple-touch-icon" href="http://www.edna.cz//static/apple-touch-icon.png" />
        <link rel="stylesheet" type="text/css" href="http://www.edna.cz//static/web/css/selectize.min.css?v=1489589426" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="http://www.edna.cz//static/web/css/rsshub.css?v=1489589424" />-->

        <!-- <link rel="stylesheet" type="text/css" href="http://www.edna.cz//static/web/css/all.min.css?v=1489589425"  media="screen,projection" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/style.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />

      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
    <body>
		{% block content %} {% endblock %}
        <br>
	</body>
</html>
